html,body{
  margin:0 auto;
  font-family: "Times New Roman", Times, serif;




}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}
img{
  border-radius: 15px;
}


nav{
  background-color:#55342b;
  font-family: "Times New Roman", Times, serif;
}
nav a{
  color:#B2AC88;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
  
}
nav a:hover{
  color:#55342b;
  background-color: darkseagreen;
  transition: 0.5s;
}
.subbanner{
  background-color:darkseagreen;
}
#banner{
  background-color:#55342b;
  color:white;
}
#footer{
  background-color:#55342b;
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
  font-family: "Times New Roman", Times, serif;
}
 
.card{
  flex:1;
  margin:10px;
  padding:5px;
  border:6px dotted #55342b;
  text-align:center;
  border-radius:5px;
  background-color: #FFF0DB;
  font-family: "Times New Roman", Times, serif;
}


.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:cornflowerblue;
}
#output{
  flex-wrap:wrap;
}
.fit{
  width:300px;
  height:300px;


}




#leftPanel{
  flex:1;
}
#rightPanel{
  flex:2;
}
.fitted{
  max-width:400px;
  min-width:400px;
}



.filt{
  flex:1;
  margin:10px;
  padding:5px;
  border:6px dotted #55342b;
  text-align:center;
  border-radius:5px;
  background-color: #EDE8D0;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

#map{

  width:100%;

  height:calc(100vh - 300px);

  border-radius:10px;
  box-shadow:2px 2px 2px black;
}

#cards_output {

  flex-wrap: wrap;
  /* width: 100%; */
  
}