html,body{
  margin:0 auto;
  font-family:Arial;


}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}
img{
  border-radius: 15px;
}

nav{
  background-color:forestgreen;
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:darkseagreen;
}
#banner{
  background-color:forestgreen;
  color:white;
}
#footer{
  background-color:forestgreen;
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 
.card{
  flex:1;
  margin:10px;
  padding:5px;
  border:1px solid gray;
  text-align:center;
  border-radius:5px;
}

.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:cornflowerblue;
}
#output{
  flex-wrap:wrap;
}
.fit{
  width:300px;
  height:300px;

}


#leftPanel{
  flex:1;
}
#rightPanel{
  flex:2;
}
.fitted{
  max-width:550px;
  min-width:550px;
}
